.avatar img{
	width: 100%;
	height: 200px;
	background-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="images" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-images fa-w-18 fa-3x"><path fill="currentColor" d="M480 416v16c0 26.51-21.49 48-48 48H48c-26.51 0-48-21.49-48-48V176c0-26.51 21.49-48 48-48h16v208c0 44.112 35.888 80 80 80h336zm96-80V80c0-26.51-21.49-48-48-48H144c-26.51 0-48 21.49-48 48v256c0 26.51 21.49 48 48 48h384c26.51 0 48-21.49 48-48zM256 128c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-96 144l55.515-55.515c4.686-4.686 12.284-4.686 16.971 0L272 256l135.515-135.515c4.686-4.686 12.284-4.686 16.971 0L512 208v112H160v-48z" class=""></path></svg>');
	background-color:#eee;
	background-repeat: no-repeat;
	background-size: 40px;
    background-position-x: calc(50%);
    background-position-y: calc(50%);
	border: 1px solid gray;
	display: block;
	margin-bottom: 10px;
	object-fit: scale-down;
}
.add-album, .add-slide{
	height: 240px;
	border:1px solid #ccc;
	position: relative;
	cursor: pointer;
}
.add-slide{
	height: 150px;
}
.add-album i, .add-slide i{
	font-size: 40px;
	color: #aaa;
	position: relative;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
}
.box-album > div, .box-button-album > div, .box-slide > div, .box-button-slide > div{
	width: 50%;
	float: left;
	margin-bottom: 10px;
	position: relative;
}
@media (min-width: 768px){
	.box-album > div, .box-button-album > div, .box-slide > div, .box-button-slide > div{
		width: 25%;
		float: left;
		margin-bottom: 10px;
		position: relative;
	}
}
#box-album img, #box-slide img{
	height: 150px;
    width: 100%;
    object-fit: scale-down;
    border: 1px solid #eee;
}
#box-album .btn-group, #box-slide .btn-group{
	position: absolute;
	top: 0px;
	right: 10px;
	display: none;
}
#box-album .btn-group button, #box-slide .btn-group button{
	padding: .15rem .25rem;
}
#box-album > div:hover .btn-group, #box-slide > div:hover .btn-group{
	display: inline-flex;
}
#box-album .form-control, #box-slide .form-control{
	border-radius: 0px;
}
#box-album input.form-control, #box-slide input.form-control{
	height: 35px;
}
#box-album textarea.form-control, #box-slide textarea.form-control{
	height: 55px;
}
#show-view .cke_top.cke_reset_all{
	display: none;
}
.d-contents{
	display: contents;
}
.bd-1{
	border:1px solid #eee;
}
.p-10{
	padding:10px;
}

.custom-input-file::-webkit-file-upload-button {
  height: 25px;line-height: 20px;
}
.table.table-head-fixed thead tr:nth-child(1) th{
	min-width: 100%;
}
.table.table-head-fixed thead tr:nth-child(1) th:nth-child(1){
	width: 50px;
}
.content-wrapper .card-body td img{
	max-height: 100px;
}